body {
    margin: 0;
    padding: 0;
    background: url(bg.jpg);
    background-size: cover;
}

.box {
    width: 450px;
    background: none;
    padding: 40px;
    text-align: center;
    margin: auto;
    color: white;
}
.box2{
    width: 80%;
    background: gold;
    padding: 10px;
    text-align: center;
    margin-left: 150px;
    border-radius: 500px;
    text-align: center;
    
}

.box img {
    position: relative;
    right: 20px;
    max-width: 100%;
    height: auto;
    margin-top: 5%;
    border-radius: 56%;
    width: 300px;
    padding-right: 1%;
    cursor: pointer;
}
.box img{
    transform: scale(0.9);
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;

}
.box h5{
    font-size: 23px;
    font-weight:100;
    letter-spacing: 3px;
}
.box p{
    text-align: justify;

}
ul{
    
    margin: 0;
    padding: 10px;
}
.box3 li{
    display:inline-block ;
      width: 130px;
      height: 100px;
      padding: 15px;
      margin: -3px;
}
.box3 li a{
    color:black;
    position: relative;
    left: 550px;
    font-size: 60px;
    transition: all ease-in-out;
}
.box3 li a:hover{
    color: gold;
}

h4{
    background-color: gold;
    text-align: center;
    color: black;
    border-radius: 100px;
    margin-bottom: 580px;
    
}